 /* CONFIG POLICE WEB (Raleway) */

 @font-face {
    font-family: 'R-black';
    src: url(R-black.ttf);
}
@font-face {
    font-family: 'R-bold';
    src: url(R-bold.ttf);
}
@font-face {
    font-family: 'R-xtralight';
    src: url(R-xtralight.ttf);
}
@font-face {
    font-family: 'R-light';
    src: url(R-light.ttf);
}
@font-face {
    font-family: 'R-medium';
    src: url(R-medium.ttf);
}
@font-face {
    font-family: 'R-normal';
    src: url(R-normal.ttf);
}
@font-face {
    font-family: 'R-semibold';
    src: url(R-semibold.ttf);
}
@font-face {
    font-family: 'R-finer';
    src: url(R-finer.ttf);
}
@font-face {
    font-family: 'R-xtrabold';
    src: url(R-xtrabold.ttf);
}
  
                      /* Debut du Code CSS3 */
* 
{
    margin: 0px;
    padding: 0px;
}
  
ul 
{
    list-style-type: none;
}
  
header 
{
    margin: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
nav ul 
{
    display: flex;
    border: solid 1px red;
    font-family: R-normal, Arial, Helvetica, sans-serif;
    color: #0065FC;
}

nav ul li 
{
    margin: 0px 29px;
}

div.img1 
{
    margin-left: 12px;
}

div.text1 
{
    font-family: R-semibold, Arial, Helvetica, sans-serif;
    margin-left: 45px;
    font-size: large;
}
  
div.text2 
{
  
    font-family: R-normal, Arial, Helvetica, sans-serif;
    margin-left: 46px;
    margin-top: 10px;
}

div.recherche 
{
    margin-left: 45px;
    margin-top: 45px;
    color: tomato;
}

button 
{
    font-family: R-semibold, Arial, Helvetica, sans-serif;
    background-color: #0065FC;
    color: white;
}
  
