 /* CONFIG POLICE WEB (Raleway) */

 @font-face {
    font-family: 'R-black';
    src: url(R-black.ttf);
}
@font-face {
    font-family: 'R-bold';
    src: url(R-bold.ttf);
}
@font-face {
    font-family: 'R-xtralight';
    src: url(R-xtralight.ttf);
}
@font-face {
    font-family: 'R-light';
    src: url(R-light.ttf);
}
@font-face {
    font-family: 'R-medium';
    src: url(R-medium.ttf);
}
@font-face {
    font-family: 'R-normal';
    src: url(R-normal.ttf);
}
@font-face {
    font-family: 'R-semibold';
    src: url(R-semibold.ttf);
}
@font-face {
    font-family: 'R-finer';
    src: url(R-finer.ttf);
}
@font-face {
    font-family: 'R-xtrabold';
    src: url(R-xtrabold.ttf);
}
  
                      /* Debut du Code CSS3 */
* 
{
    margin: 0px;
    padding: 0px;
}
  
body 
{
    font-family: R-normal, Arial, Helvetica, sans-serif;
}

ul 
{
    list-style-type: none;
}
  
header 
{
    margin: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
nav ul 
{
    display: flex;
    font-family: R-normal, Arial, Helvetica, sans-serif;
    color: #0065FC;
    box-shadow: 0px -55px 0px -3px #0065FC;
}

nav ul li 
{
    margin: 0px 29px;
}

div.img1 
{
    margin-left: 25px;
}

div.text1
{
    font-family: R-semibold, Arial, Helvetica, sans-serif;
    margin-left: 60px;
    font-size: large;
}
  
div.text2
{
  
    font-family: R-normal, Arial, Helvetica, sans-serif;
    margin-left: 60px;
    margin-top: 10px;
    font-size: 0.99rem;
}

                            /* BARRE DE RECHERCHE */




span.local
{
    display: inline-block;
    margin-left: 60px;
    margin-top: 20px;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    border-color: #F2F2F2;
    padding: 12px 13px 14px 13px;
    text-align: center;
    
    
    
    
}

span.search 
{
    
    font-family: R-semibold, Arial, Helvetica, sans-serif;
    font-weight: normal;
    border-style: solid;
    border-width: thin;
    border-color: #F2F2F2;
    line-height: 2.5;
    padding: 10px 60px 13px 13px;
    font-size: 1rem;
    text-align: center;
    margin-left: -5px;
    
    

}

span.cherche 
{
    color: white;
    font-family: R-semibold, Arial, Helvetica, sans-serif;
    font-weight: normal;
    border-style: solid;
    border-width: thin;
    border-color: #0065FC;
    line-height: 2,5;
    padding: 10px 13px 13px 13px;
    font-size: 1rem;
    text-align: center;
    border-radius: 0px 10px 10px 0px;
    margin-left: -5px;
    background-color: #0065FC;
}


                            /* FILTRES DU SITE */


.filtres 
{
    display: flex;
    align-items: center;
    margin-left: 60px;
    margin-top: 25px;
}

.texte_filtre 
{
    font-family: R-semibold, Arial, Helvetica, sans-serif;
    margin-right: 5px;
}

.filtre
{
    display: flex;
    align-items: center;
    border: solid 2px #F2F2F2;
    border-radius: 40px;
    border-left: none;
    width: auto;
    margin: 0 15px 0;
    padding: -5px;
}

.icone_filtre 
{
    display: flex;
    background-color: #DEEBFF;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    color: #0065FC;

}

.texte_filtre2
{
    padding: 8px;
    font-family: R-semibold, Arial, Helvetica, sans-serif;
    font-size: 12px;
}


                            /* INFORMATION (i) */


.information
{
    display: flex;
    align-items: center;
    margin-left: 60px;
    margin-top: 35px;
    font-family: R-normal, Arial, Helvetica, sans-serif;
    font-size: 0.86rem;
}

.info_icone 
{
    display: flex;
    font-size: 20px;
    color: #0065FC;
    
}

.info_texte
{
    display: inline-block;
    margin-left: 10px;

}


                            /* ARTICLE (hébergements à Marseille */



.hebergements_marseille
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: R-normal, Arial, Helvetica, sans-serif;
    border: solid  #F2F2F2;
    border-radius: 20px;
    background-color: #F2F2F2;
    margin-left: 60px;
    margin-top: 50px;


}
.ham 
{
    font-family: R-semibold, Arial, Helvetica, sans-serif;
    font-size: large;
    margin-top: 20px;
    margin-left: 20px;
}
.ham2
{
    font-family: R-semibold, Arial, Helvetica, sans-serif;
    font-size: medium;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.section_ham
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.cube_ham1
{
    display: flex;
    flex-direction: column;
    border: solid white;
    background-color: white;
    width: 250px;
    border-radius: 20px;
    box-shadow: #c7c6c6 0px 0px 4px 2px;
    margin-top: 20px;
    margin-bottom: 80px;

}

.img_ham
{ 
    height: 120px;
    width: 250px;
    border-radius: 20px 20px 0% 0%;
    object-fit: cover;
}

.texte_ham
{
    margin: 10px;
}

.titre_cube
{
    font-family: R-semibold, Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.texte_cube
{
    font-size: small;

}

.icone_cube
{
    color: #0065FC;
    font-size: 12px;

}

.icone2_cube
{
    color: grey;
    font-size: 12px;
}








/* Commande d'aide pour les bordures border: solid 1px red; */

